/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}

.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*-------------------------------------------------- */

body {
  background-color: #011b2b;
  color: #51BCFF;
}

body > .gifs {
  padding-bottom: 60px;
}

.topic, .btn-topic {
  background-color: #024F7F;
  border-color: #012F4C;
  color: #51BCFF;
}

button.topic {
  outline: none;
}

.topic {
  cursor: pointer;
}

.topic:hover, .btn-topic:hover {
  background-color: #295E7F;
  transition: 500ms ease all;
}

.topic-i {
  padding-left: 7px;
  color: #024F7F;
}

.topic-i:hover {
  color: rgb(8, 42, 71);
}

#my-images img {
  width: 100%;
  height: 170px;
}

#my-images img:hover {
  cursor: pointer;
}

#my-images p {
  margin-left: 1rem;
  position: absolute;
  display: inline-block;
  color: #012F4C;
  background-color: rgba(255,255,255,.7);
  padding: 5px;
  bottom: 0;
  left: 0;
}

.footer-bg {
  background-color: #343a40;
}

/* @media only screen and (max-width: 415px) {
    #my-images img {
        width: 414px;
        height: 240px;
    }

    #my-images p {
      margin: 0 0 0 -414px;
    }
} */