/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.nav-container {
  max-width: 960px;
}

.z99 {
  z-index: 99;
}

a.navbar-brand::after {
  content: "";
  background-image: url('../images/cbc_4.gif');
  position: absolute;
  top: 5px;
}

code {
  font-size: 80%;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}

.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*-------------------------------------------------- */

body {
  background-color: #011b2b;
  color: #51BCFF;
}

body > .gifs {
  padding-bottom: 60px;
}

.topic, .btn-topic {
  background-color: #024F7F;
  border-color: #012F4C;
  color: #51BCFF;
}

.bg-black {
  background-color: #000000;
}

button.topic {
  outline: none;
}

.topic {
  cursor: pointer;
}

.topic:hover, .btn-topic:hover {
  background-color: #295E7F;
  transition: 500ms ease all;
}

.topic-i {
  padding-left: 7px;
  color: #024F7F;
}

.topic-i:hover {
  color: rgb(8, 42, 71);
}

#my-images img {
  width: 100%;
  height: 170px;
}

#my-images img:hover {
  cursor: pointer;
}

#my-images p.info {
  margin-left: 1rem;
  position: absolute;
  display: inline-block;
  color: #012F4C;
  background-color: rgba(255,255,255,.7);
  padding: 5px;
  bottom: 0;
  left: 0;
}



/* .tooltip-inner{
 
    padding:2px 7px;
 
    color:#51BCFF;
 
    text-align:center;
 
    font-weight: bold;
 
    background-color: #024F7F;
 
    border: 1px solid #012F4C;   
 
} */

/* .tooltip .tooltip-arrow {
  color: #024F7F;
  border-color: #024F7F;
  background-color: #024F7F;
} */

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0;
}
.tooltip.show {
    opacity: .9;
}
.tooltip .arrow {
    position: absolute;
    display: block;
    width: .8rem;
    height: .4rem;
}
.tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}
.bs-tooltip-auto[x-placement^=top], .bs-tooltip-top {
    padding: .4rem 0;
}
.bs-tooltip-auto[x-placement^=top] .arrow, .bs-tooltip-top .arrow {
    bottom: 0;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #024F7F;
}
.bs-tooltip-auto[x-placement^=right], .bs-tooltip-right {
    padding: 0 .4rem;
}
.bs-tooltip-auto[x-placement^=right] .arrow, .bs-tooltip-right .arrow {
    left: 0;
    width: .4rem;
    height: .8rem;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    right: 0;
    border-width: .4rem .4rem .4rem 0;
    border-right-color: #000;
}
.bs-tooltip-auto[x-placement^=bottom], .bs-tooltip-bottom {
    padding: .4rem 0;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow, .bs-tooltip-bottom .arrow {
    top: 0;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 .4rem .4rem;
    border-bottom-color: #000;
}
.bs-tooltip-auto[x-placement^=left], .bs-tooltip-left {
    padding: 0 .4rem;
}
.bs-tooltip-auto[x-placement^=left] .arrow, .bs-tooltip-left .arrow {
    right: 0;
    width: .4rem;
    height: .8rem;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    left: 0;
    border-width: .4rem 0 .4rem .4rem;
    border-left-color: #000;
}
.tooltip-inner {
    max-width: 200px;
    padding: .25rem .5rem;
    color: #51BCFF;
    text-align: center;
    background-color: #024F7F;
    border-radius: .25rem;
}

@media only screen and (max-width: 415px) {
    a.navbar-brand::after {
    content: "";
    background-image: url(../images/cbc_4.gif);
    position: absolute;
    top: 5px;
    background-size: 258px 45px;
    width: 258px;
    background-repeat: no-repeat;
    height: 45px;
}
}